.title {
  background: #000000;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

svg {
  position: relative;
  top: 0px;
  left: 0px;
}

#charts g {
  opacity: 0;
}

.venn {
  background-color: #ffffff;
}

