.title {
  background: #000000;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

#charts svg {
  position: relative;
  top: 0px;
  left: 0px;
}

#charts g {
  opacity: 0;
}

#logo {
  height: 170px;
  width: 300px;
  margin: 20px auto;
}

.venn {
  background-color: #ffffff;
}
