.title {
  background: #000000;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

#charts svg {
  position: relative;
  top: 0px;
  left: 0px;
}



#logo {
  height: 200px;
  width: 300px;
  margin: 20px auto;
}

#d3-3-chart svg g text {
  opacity: 0;
}

.text {
  font-size: 60px;

}
