body {
  background-color: #F0F0F0;
}

.header {
  float: left;
  font-size: 2em;
  margin: 30px;
  margin-top: 70px;
  width: 200px;
  height: 600px;
  background-color: #5CCEEE;
}

text {
  font-size: 20px;
}
